<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title></title>


      <nav>
        <div class="nav-wrapper white">
          <a href="#" class="brand-logo ">
              <img width="60px" src="http://reacaonet.com.br/pt/images/Communities__Networks-512.png">
          </a>
            <a href="#" class="brand-logo grey-text text-lighten-1 center" href="sass.html">Site sem logotipo e sem nome</a>

          <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><img class="responsive-img" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRAnDYYJnPrmD0kX-CbKrK76esm_4XRHWOu1di5SM5PWYA0y20GMEk-rA">
</li>
            <li ><a class="black-text" href="sass.html">Cadastre-se</a></li>
            <li ><a class="black-text" href="sass.html">Login</a></li>
              <li ><a class="black-text" href="sass.html">Trocar</a></li>
          </ul>
        </div>
      </nav>




    <ul id="slide-out" class="side-nav">
        <li>
            <div class="filter " data-filter="all">
                      <a href="#!">Show All</a>
            </div>
        </li>
    <li>
        <form action="#">
            <p class="range-field">
                <input type="range" id="test5" min="0" max="100" />
            </p>
        </form>
    </li>
  </ul>

  <a href="#" data-activates="slide-out" class="button-collapse btn red z-depth-1">Filtragem<i class="mdi-navigation-menu left"></i></a>


</head>
<body>

    <style>
        #Container .mix{
            display: none;
        }

        .titulo_card{
            font-size: 12px
        ;
        }
    </style>









    <div class="container blue lighten-5">

        

                <!-- Page Content goes here -->
        <div class="row blue darken-2">
              <div class="col s2 filter " data-filter="all">
                  <a class="waves-effect waves-light btn blue">Show All</a>
              </div>
              <div class="col s3 filter" data-filter=".category_1">
                  <a class="waves-effect waves-light btn blue">Category-1</a>
              </div>
              <div class="col s3 filter" data-filter=".category">
                  <a class="waves-effect waves-light btn blue">Category-2</a>
              </div>
            </div>
        <div class="row blue darken-3">
              <div class="col s2 sort" data-sort="default">
                  <a class="waves-effect waves-light btn blue">Default</a>
              </div>
              <div class="col s2 sort" data-sort="myorder:asc">
                  <a class="waves-effect waves-light btn blue">Ascending</a>
              </div>
              <div class="col s2 sort" data-sort="myorder:desc">
                  <a class="waves-effect waves-light btn blue">Descending</a>
              </div>
              <div class="col s1 sort" data-sort="random">
                  <a class="waves-effect waves-light btn blue">Random</a>
              </div>

        </div>


            <div id="Container">
            {% for x in mylist%}
            <div class="mix category-2" data-myorder="{{ x['trade_id'] }}">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                    </div>
                    <div class="card-content">
                        <img class="activator" src="http://www.sigmaaldrich.com/content/dam/sigma-aldrich/product5/137/z558575.tif/_jcr_content/renditions/z558575-medium.jpg">

                      <span class="card-title activator grey-text text-darken-4 "><h6>{{ x['produto'] }}</h6><i class="material-icons right">more_vert</i></span>
                      <p><a href="#">{{ x['usuario_nome'] }}</a>
                                  <img  width="25" src="http://www.iconsdb.com/icons/preview/orange/star-8-xxl.png">
                                    <img width="25" src="http://www.iconsdb.com/icons/preview/orange/star-8-xxl.png">
                                    <img width="25" src="http://www.iconsdb.com/icons/preview/orange/star-8-xxl.png">
                                    <img width="25" src="http://www.iconsdb.com/icons/preview/orange/star-8-xxl.png">
                                    <img style="opacity: .2" width="25" src="http://www.iconsdb.com/icons/preview/orange/star-8-xxl.png">
                      </p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Troca: {{ x['produto'] }}<i class="material-icons right">close</i></span>
                      <p>{{ x['usuario_nome'] }} pretende trocar {{ x['quantidade'] }} unidades de {{ x['produto'] }}</p>

                        <div class="waves-effect waves-light btn-large red center">
                            Ver mais e Negociar
                        </div>
                        <p>Data de criação: {{ x['data_anuncio'] }}</p>

                    </div>
                  </div></div>
                {% endfor %}
            </div>




                <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>

                <script>// On document ready:

                        $(function(){

                            // Instantiate MixItUp:

                            $('#Container').mixItUp();

                        });
                </script>


                <!-- Compiled and minified CSS -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">
                <!-- Compiled and minified JavaScript -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
                <script>// On document ready:
                          // Initialize collapse button
                          $(".button-collapse").sideNav();
                          // Initialize collapsible (uncomment the line below if you use the dropdown variation)
                          //$('.collapsible').collapsible();

                            $('.button-collapse').sideNav({
                              edge: 'left', // Choose the horizontal origin
                              closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
                            }
                          );


                          // Show sideNav
                          $('.button-collapse').sideNav('show');
                          // Hide sideNav
                          $('.button-collapse').sideNav('hide');


                </script>
        </div>

	</body>
</html>