{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}



    {% endfor %}
  {% endif %}
{% endwith %}




  <form action="/cadastrar_troca" method="post">


      <p>
          Nome do produto:<br>{{ form.produto(size=80) }}<br>
      </p>
      <p>
          Quantidade para a troca:<br>{{ form.quantidade(size=20) }}<br>
      </p>


         <p>
          Descreva seu produto:<br>{{form.descricao(size=10000)}}<br>
        </p>


          <p>
              <input type="checkbox" id="vencimento_box" onclick="mostrar_box()" />
              <label for="vencimento_box">Produto possui validade?</label>
              <input style="visibility:hidden" id="data_picker" type="date" class=" datepicker">
          </p>



      <p>
          <input type="submit" value="Quero trocar!">
      </p>
  </form>

    <form action="#" method="post" enctype=multipart/form-data>
            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          <input type="button" value="Upload" onclick="this.form.submit();" />
             {% if figura_upload %}
                 <div class="row">

                          <div class="col s4 offset-s4">
                            <!-- Promo Content 2 goes here -->


                                <img  class="materialboxed" width="200" height="200" src="{{ figura_upload }}" > </img>



                        </div>

            </div>
             {%  endif %}



  </form>

</form>

    <script>

    function mostrar_box() {
        if (document.getElementById("data_picker").style.visibility != "visible") {
        document.getElementById("data_picker").style.visibility = "visible";
        }else{
            document.getElementById("data_picker").style.visibility = "hidden";

        }



}


    </script>


           <script>

     $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    </script>
{% endblock %}
